/* featherlight gallery */
@import url(../../noelboss/featherlight/1-7-7/release/featherlight.min.css);
@import url(../../noelboss/featherlight/1-7-7/release/featherlight.gallery.min.css);
fieldset.featherlight-gallery[gallery-width="75-2"] { width: 186px; }
fieldset.featherlight-gallery[gallery-width="75-3"] { width: 276px; }
fieldset.featherlight-gallery[gallery-width="75-4"] { width: 368px; }
fieldset.featherlight-gallery[gallery-width="75-5"] { width: 460px; }
fieldset.featherlight-gallery[gallery-width="75-6"] { width: 552px; }
fieldset.featherlight-gallery[gallery-width="150-2"] { width: 336px; }
fieldset.featherlight-gallery[gallery-width="150-3"] { width: 501px; }
fieldset.featherlight-gallery[gallery-width="150-4"] { width: 668px; }
fieldset.featherlight-gallery[gallery-width="250-2"] { width: 536px; }
fieldset.featherlight-gallery[gallery-width="220-2"] { width: 476px; }
fieldset.featherlight-gallery[gallery-width="220-3"] { width: 708px; }
fieldset.featherlight-gallery {
    border: 1px solid #c0c0c0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
fieldset.featherlight-gallery.noborder {
    border: 0px solid;
    display: inline-block;
}
legend.featherlight-gallery {
    border: 1px solid #c0c0c0;
    margin-left: 1em;
    padding: 0.2em 0.8em;
    width: auto;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: bold;
}
legend.featherlight-gallery.noborder {
    border: 0px solid;
    margin-left: 1em;
    padding: 0.2em 0;
    width: auto;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: bold;
}
div.featherlight-gallery {
    background-color: #fff;
    border: 0px;
    margin-left: 1em;
}
fieldset.featherlight-gallery > div.gallery-scroll {
    overflow-x: auto;
    white-space: nowrap;
    }
.featherlight-gallery .asset-thumbnails {
	margin: 0 0 4px 4px;
	padding: 4px 4px 4px 4px;
	text-indent: 0;
	}
.featherlight-gallery .asset-thumbnails img {
    padding: 4px;
    }
.featherlight-gallery .asset-thumbnails li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    display: inline;
    }
.featherlight-gallery .asset-thumbnails li.on img {
    border: 2px solid #800;
    padding: 0;
    }