body { font-size:small; margin: 0; padding:0; }
h1, h2, h3 { font-size:medium; margin: 3px 0; padding: 0.5em 0 0.5em 3px; }
div#container { margin: 0; padding: 0; }
.entry-footer, .entry-more-link, .posted, .comment-footer { text-align:right; font-size:small; }
.content-nav, .page-nav { margin: 0; padding: 0.2em 0; text-align:center; font-size:small; }
hr.border { border-style: solid; border-width: 1px; margin: 0; padding: 0; }
ul.footer { margin: 0 ! important; padding: 0.2em 0 ! important; }
ul.footer li { list-style-type: none; margin: 0; padding: 0.2em 0; }
address { margin: 0; padding: 0.2em 0; text-align: center; font-size:small; }
form#comments_form div { text-align: center; }
form#comments_form dl dd { margin: 0; padding: 0.2em 0; }
.emoticon { border:0; }
input, textarea { color: #000000; }
.warn { color:#c00; background-color:#eee; font-weight:bold; border: 1px solid #c3cfdb; padding:4px; margin-bottom:6px; }